.section_top{
  width: 100%;
  height: 90vh;
  overflow: hidden;
  position: relative;
  background-image: url('../images/WhatsApp Image 2025-07-02 at 15.02.31_58370244.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  justify-content: center;
  animation: change 20s infinite linear;
}
.section_top::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.section_top .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.section_top .content span{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.section_top .content h2{
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  background-color: var(--color-accent);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
}
.section_top .content p{
  font-size: 1.2rem; 
  margin-bottom: 1rem;
}
@keyframes change{
  0%{
    background-image: url('../images/WhatsApp Image 2025-07-02 at 15.02.31_58370244.jpg');
  }
  25%{
    background-image: url('../images/WhatsApp Image 2025-07-02 at 15.02.31_58370244.jpg');
  }
  50%{
    background-image: url('../images/WhatsApp Image 2025-07-02 at 15.02.31_d875b30c.jpg');
  }
  75%{
    background-image: url('../images/WhatsApp Image 2025-07-02 at 15.02.32_00a9c303.jpg');
  }
  100%{
    background-image: url('../images/WhatsApp Image 2025-07-02 at 15.02.32_a2d1fc1d.jpg');
  }
}
@media (max-width: 768px) {
  .section_top{
    height: 30vh;
  }
}